
<h1>Books</h1>

    <h3>Here are all the books with this patron:</h3>

    <ul>
      <% @patron.books().each() do |book| %>
        <li><%= book.title() %> </li>
      <% end %>
    </ul>

    <% else %>
      <p>There are no books with this patron!</p>
    <% end %>

  <div class="container">
    <a href="/"><button class="btn">Home</a>
  </div>



  <hr>

  <div class="container">
    <a href="/">Home</a>
    <a href="/patrons">View All Patrons</a>
    <a href="/patrons/new">Add a New Patron</a>
    <a href="/patrons/new">Add a New Book</a>
  </div>
