<!-- <h1>Your Current Patrons</h1>

<% if @patrons.any?() %>
    <h3>Here are your patrons:</h3>

    <ul>
      <% @patrons.each() do |patron| %>
        <li><a href="/patrons/<%= patron.id()%>"><%= patron.name() %></a> </li>
      <% end %>
    </ul>

  <% else %>

      <p>There are no patrons yet!</p>

  <% end %> -->
